{{ template "header" . }}

<h1>Binary packages containing manpages in Debian {{ .Suite }}</h1>

<ul>
{{ range $idx, $dir := .Bins }}
  <li><a href="/{{ $.Suite }}/{{ $dir}}/index.html">{{ $dir }}</a></li>
{{ end }}
</ul>

{{ template "footer" . }}
