{{ template "header" . }}

<div class="maincontents">

<h1>Binary packages containing manpages in Debian {{ .Suite }}</h1>

<ul>
{{ range $idx, $dir := .Bins }}
{{ if not (HasSuffix $dir ".gz") }}
  <li><a href="/{{ $.Suite }}/{{ $dir}}/index.html">{{ $dir }}</a></li>
{{ end }}
{{ end }}
</ul>

</div>

{{ template "footer" . }}
