<!DOCTYPE html>
{{ if .Meta -}}
<html lang="{{ .Meta.LanguageTag }}">
{{ else -}}
<html lang="en">
{{ end -}}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }} — debiman</title>
<style type="text/css">
{{ template "style" }}
</style>
<link rel="search" title="Debian manpages" type="application/opensearchdescription+xml" href="/opensearch.xml">
{{ if and (.HrefLangs) (gt (len .HrefLangs) 1) -}}
{{ range $idx, $man := .HrefLangs -}}
<link rel="alternate" href="/{{ $man.ServingPath }}.html" hreflang="{{ $man.LanguageTag }}">
{{ end -}}
{{ end -}}
</head>
<body>
<div id="header">
   <div id="upperheader">
  <h1><a href="{{ BaseURLPath }}/">some debiman installation</a></h1>
  <div id="searchbox">
    <form action="{{ BaseURLPath }}/jump" method="get">
      {{ if .Meta -}}
      <input type="hidden" name="suite" value="{{ .Meta.Package.Suite }}">
      <input type="hidden" name="binarypkg" value="{{ .Meta.Package.Binarypkg }}">
      <input type="hidden" name="section" value="{{ .Meta.Section }}">
      <input type="hidden" name="language" value="{{ .Meta.Language }}">
      {{ end -}}
      <input type="text" name="q" placeholder="manpage name" required>
      <input type="submit" value="Jump">
    </form>
  </div>
 </div>
<div id="navbar">
<p class="hidecss"><a href="#content">Skip Quicknav</a></p>
<ul>
   <li><a href="{{ BaseURLPath }}/">Index</a></li>
</ul>
</div>
   <p id="breadcrumbs">&nbsp;
     {{- range $i, $b := .Breadcrumbs }}
     {{ if eq $b.Link "" }}
     &#x2F; {{ $b.Text }}
     {{ else }}
     &#x2F; <a href="{{ BaseURLPath }}{{ $b.Link }}">{{ $b.Text }}</a>
     {{ end }}
     {{ end -}}
   </p>
</div>
<div id="content">
