<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ .Title }} — Debian Manpages</title>
<style type="text/css">
{{ template "style" }}
</style>
</head>
<body>
<div id="header">
   <div id="upperheader">
   <div id="logo">
  <a href="./" title="Debian Home"><img src="/openlogo-50.svg" alt="Debian" width="50" height="61"></a>
  </div>
  <p class="section"><a href="/">MANPAGES</a></p>
  <div id="searchbox">
    <form action="/jump" method="get">
      <input type="text" name="q" placeholder="manpage name">
      <input type="submit" value="Jump">
    </form>
  </div>
 </div>
<div id="navbar">
<p class="hidecss"><a href="#content">Skip Quicknav</a></p>
<ul>
   <li><a href="/">Index</a></li>
   <li><a href="/about.html">About Manpages</a></li>
   <li><a href="/faq.faq">FAQ</a></li>
</ul>
</div>
   <p id="breadcrumbs">&nbsp;</p>
</div>
<div id="content">
